ErrorDocument 404 /404.html

RewriteRule ^snake/?$ /snake/index.html/
RewriteRule ^webhook/?$ /discord-webhook-sender/index.html
RewriteRule ^virus/?$ /harmless-virus/index.html
RewriteRule ^chat/?$ /chat/index.html/