.parallax {
    background: url("https://cdn.glitch.com/e0d352e3-efc3-46e0-833a-09f2a306c4d8%2Fcode_text_colorful_140555_1920x1080.jpg?v=1591023804336") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 50%;
    position: absolute;
    border: 6px solid rgb(26, 26, 26);
}
/* Home Section */
#parallax1 {
    height: 300px;
    width: 300px;
    top: 20%;
    left: 10%;
}
#parallax2 {
    height: 200px;
    width: 200px;
    top: 20%;
    left: 80%;
}
#parallax3 {
    height: 100px;
    width: 100px;
    top: 80%;
    left: 70%;
}
/* Project Section */
#parallax4 {
    height: 300px;
    width: 300px;
    top: 120%;
    left: 80%;
}
#parallax5 {
    height: 100px;
    width: 100px;
    top: 130%;
    left: 13%;
}
#parallax6 {
    height: 200px;
    width: 200px;
    top: 180%;
    left: 12%;
}
/* Contact Section */
#parallax7 {
    height: 200px;
    width: 200px;
    top: 210%;
    left: 80%;
}
#parallax8 {
    height: 200px;
    width: 200px;
    top: 270%;
    left: 70%;
}
#parallax9 {
    height: 350px;
    width: 350px;
    top: 220%;
    left: 10%;
}